body {
  margin: 0;
  padding: 0;
  background: #ededed;
}

.header-img {
  width: 100%;
  height: 60vh; /* or use clamp() for responsive control */
  min-height: 760px; /* optional minimum */
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('Assets/searchImg/header.jpg') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  position: relative;
}

.header-title {
  text-align: center;
  color: var(--Yellow, #ffd15b);
  text-align: center;
  font-family: Anton;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 800px;
  margin: 0 0 20px 100px;
}

.header-logo {
  position: absolute;
  padding: 20px;
  transform: translateY(-750px);
  text-align: center;
}

.searchBar-input {
  border: none;
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 25px 30px;
  width: 954px;
}

.searchBar-search {
  display: flex;
  justify-content: space-between;
}

.searchBar-button {
  background-color: black;
  font-size: 22px;
  width: 51px;
  height: 52px;
  border-radius: 10px;
  transform: translate(-60px, 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-searchbar-title-container {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  width: 380px;
  height: 731px;
  border-radius: 21px;
  background: #fff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  margin: 40px;
}

.card-img {
  width: 380px;
  height: 253px;
  object-fit: cover;
  border-radius: 21px 21px 0 0;
}

.card-recette {
  color: #000;
  font-family: Anton;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 28px;
}

.card-container-text {
  padding: 32px 25px;
}

.card-recette-titre {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.card-ingredients-titre {
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-ingredient-titre {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.card-ingredient-quantity {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
