/* Index */

body {
  margin: 0;
  padding: 0;
  background: #ededed;
}

/* Header */

.header-img {
  width: 100%;
  height: 60vh;
  min-height: 760px;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('Assets/searchImg/header.jpg') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  position: relative;
}

.header-title {
  text-align: center;
  color: var(--Yellow, #ffd15b);
  text-align: center;
  font-family: Anton;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 800px;
  margin: 0 0 20px 100px;
}

.header-logo {
  position: absolute;
  padding: 20px;
  transform: translateY(-750px);
  text-align: center;
}

/* Search Bar */

.searchBar-input {
  border: none;
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 25px 30px;
  width: 954px;
}

.searchBar-search {
  display: flex;
  justify-content: space-between;
}

.searchBar-button {
  background-color: black;
  font-size: 22px;
  width: 51px;
  height: 52px;
  border-radius: 10px;
  transform: translate(-60px, 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-searchbar-title-container {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Filters! */

.filters-container {
  display: flex;
  justify-content: space-between;
 
}

.filters{
  display: flex;
  justify-content: flex-start;
  align-items: center;
 flex-direction: row;
 gap: 65px;
}

select {
  appearance: none;        /* Removes default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

.dropdown {
  display: inline-flex;
  padding: 17px 16px;
  align-items: center;
  gap: 63px;
  border-radius: 11px;
background: #FFF;
}

/* Cards! */

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  width: 380px;
  height: 731px;
  border-radius: 21px;
  background: #fff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  margin: 40px;
}

.image-wrapper {
  position: relative;
}

.card-img {
  width: 380px;
  height: 253px;
  object-fit: cover;
  border-radius: 21px 21px 0 0;
}
.card-ingredients {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 12px;
}

.card-ingredients li {
  flex: 0 1 calc(50% - 12px);
  box-sizing: border-box;
}

.ingredient-name {
  color: var(--Black, #1B1B1B);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  margin-bottom: 2px; 
}

.ingredient-quantity {
  color: var(--Grey, #7A7A7A);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  display: block;
  margin-top: 0; 
}



.card-time {
  border-radius: 14px;
  background: var(--Yellow, #ffd15b);
  display: inline-flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  transform: translate(288px, 20px);
}

.card-recette {
  color: #000;
  font-family: Anton;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 28px;
}

.card-container-text {
  padding: 32px 25px;
  color: var(--Black, #1B1B1B);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.recette-title {
  color: var(--Grey, #7A7A7A);
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
text-transform: uppercase;
}

.card-recette-titre {
  color: #000;
  font-family: Anton;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-ingredient-quantity {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.counter {
  color: var(--Black, #1B1B1B);
font-family: Anton;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


/* filter2 */

.dropdown2 {
  position: relative;
  display: flex;
padding: 17px 16px;
align-items: center;
border: none;
border-radius: 11px;
background: #FFF;
width: fit-content;
}

.dropdown-btn2 {
  width: 100%;
  background-color: white;
  cursor: pointer;
  text-align: left;
  border: none;
}

.dropdown-list2 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background: white;
  display: none;
  z-index: 1;

  color: var(--Black, #1B1B1B);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.dropdown-list2 div {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list2 div:hover {
  background: #FFD15B;
}

.show {
  display: block;
}

.dropdown-icon2 {
  margin-left: 10px;
  transition: transform 0.2s ease;
}

.dropdown-icon2.rotate {
  transform: rotate(180deg);
}

.dropdownText2 {
  color: var(--Black, #1B1B1B);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.filter-tag  {
display: inline-flex;
padding: 17px 18px;
align-items: center;
gap: 60px;
border-radius: 10px;
background: #FFD15B;

color: #000;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.selected-filters:empty {
  display: none;
}

.filter-tag button {
  all: unset; /* removes all browser defaults */
  margin-left: 8px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  
}

.dropdown-search-input {
  display: flex;
 margin: 20px;
 padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}



